.swiper-pagination {
  bottom: -6px !important;
}
.swiper-pagination-bullet-active {
  background-color: #ff206e !important;
}
.swiper-slide {
  height: auto !important;
}
.swiper-container {
  height: auto !important;
}
@media (min-width: 640px) {
  .swiper-pagination {
    display: none;
  }
}
